<app-header (newFormStatus) = "showNewForm($event)"></app-header>
<app-new-bookmark 
    *ngIf="shownew" 
    [categories]="categories" 
    (bookmarkCreated)="CreateNewBookmark($event)" 
    (categoryCreated)="addCategory($event)"
></app-new-bookmark>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <h3>List of All Bookmarks</h3>
                <app-bookmarks-list 
                    *ngFor="let category of categories" 
                    [category]="category" 
                    [bookmarks]="Bookmarks"
                    (bookmarkSelected)="onShowDetails($event)"
                ></app-bookmarks-list>
            </div>
        </div>
        <div class="col-md-6">
            <p *ngIf="!showDetails">No Bookmark selected</p>
            <app-bookmark-details 
                *ngIf="showDetails" 
                [selected] = "selectedBookmark"
            ></app-bookmark-details>
        </div>
    </div>
</div>